:root{
  --basic-color: #141414;
  --basic-bg: #FFFFFF;
}
*,*::before,*::after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

button, input {
  font-family: inherit;
}

p,h1,h2,h3,h4,h5 {
  margin: 0;
}

ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 320px;
  background: var(--basic-bg);  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main{
    flex: 1 0 auto;
  }
  footer{
    flex: 0 0 auto;
  }
}

h2{
  color: var(--basic-color);
  font-family: Orchidea Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  text-transform: uppercase;
}
h3{
  color: var(--basic-color);
  font-family: Orchidea Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
}
p{
  color: var(--basic-color);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
}

.container{
  max-width: 1398px;
  margin: 0 auto;
  width: 100%;
}