.section{
  margin: 200px 0 160px;
}
.title{
  margin-bottom: 123px;
}
.wrapperContent{
  display: flex;
  position: relative;
  
}
.shellContent{
  display: grid;
  width: 100%;
  grid-template-columns:  repeat(2, 50%);
  grid-template-rows: 480px 480px;
  gap: 100px 120px;
  padding-left: 74px;
}
.imageShell{
  width: 860px;
  height: 480px;
  position: absolute;
  left: 0;
  top: 0;  
  grid-column: 1;
  grid-row: 1;
}
.wraperText{
  grid-column: 2;
  grid-row: 1;
}
.subTitle{
  margin-top: 72px;
}
.shellText{
  margin-top: 25px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reversText{
  grid-column: 1;
  grid-row: 2;

}
.reversImage{
  width: 600px;
  height: 410px;
  grid-column: 2;
  grid-row: 2;
  position: relative;
}