.header{
  width: 100%;
  height: fit-content;
  background: linear-gradient(360deg, #464341 0%, #010101 100%);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 213px;
  height: 36px;
}        
.nav{

}
.tel{
  color: #FFF;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  svg {
    position: absolute;
    visibility: hidden;
    opacity: 0;

  }
  @media (max-width: 768px) {
    svg {
      position: relative;
      visibility: visible;
      opacity: 1;

    }
    span {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      
    }
  }
}