.footer{
  display: flex;
  min-height: 200px;
  width: 100%;
  background: var(--basic-color);
}
.wraper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.copy{
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 18px;
}